<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CuentaCorriente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="PartidasCerradas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings><add name="Rofina_biEntities" connectionString="metadata=res://*/RofinaBi.csdl|res://*/RofinaBi.ssdl|res://*/RofinaBi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bolvs001;initial catalog=Rofina_bi;user id=debi;password=prodsql2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="Rofina_biEntities1" connectionString="metadata=res://*/BusinessIntelligence.csdl|res://*/BusinessIntelligence.ssdl|res://*/BusinessIntelligence.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bolvs001;initial catalog=Rofina_bi;persist security info=True;user id=debi;password=prodsql2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>

  <appSettings>
    <add key="UrlPartidasAbiertas" value="http://S4ROFCIPRD.rofina.com.ar:8000/sap/bc/srt/rfc/sap/z_rol_02_ws_get_acc_openitems/400/z_rol_02_ws_get_acc_openitems/z_rol_02_ws_get_acc_openitems" />
    <add key="UrlPartidasTodo" value="http://S4ROFCIPRD.rofina.com.ar:8000/sap/bc/srt/rfc/sap/z_rol_02_ws_get_acc_statement/400/z_rol_02_ws_get_acc_statement/z_rol_02_ws_get_acc_statement" />
    <add key="Usuario" value="saprolrfc" />
    <add key="Clave" value="Sap@23" />
    <add key="CustomerFrom" value="10000" />
    <add key="CustomerTo" value="70000" />
  </appSettings>
  
  
  
  <applicationSettings>
    <CuentaCorriente.Properties.Settings>
      <setting name="CuentaCorriente_OpenItems_Z_ROL_02_WS_GET_ACC_OPENITEMS" serializeAs="String">
        <value>http://s4rofciqa.rofina.com.ar:8000/sap/bc/srt/rfc/sap/z_rol_02_ws_get_acc_openitems/400/z_rol_02_ws_get_acc_openitems/z_rol_02_ws_get_acc_openitems</value>
      </setting>
    </CuentaCorriente.Properties.Settings>

    <PartidasCerradas.Properties.Settings>
      <setting name="PartidasCerradas_PartidasCerradas_Z_ROL_02_WS_GET_ACC_STATEMENT"
          serializeAs="String">
        <value>http://s4rofciqa.rofina.com.ar:8000/sap/bc/srt/rfc/sap/z_rol_02_ws_get_acc_statement/400/z_rol_02_ws_get_acc_statement/z_rol_02_ws_get_acc_statement</value>
      </setting>
    </PartidasCerradas.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
